*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
libkdv.a
test_kdv_simple
*.txt
test_kdv_two
test_kdv_three
test_kdv_comp
test_kdv_comp_two
test_kdv_comp_three
test_kdv_scaling
